Repository matrix-org/matrix-rust-sdk, pull requests merged in 2022-07, with the labels that each got.

#803 feat(bindings/crypto-js): Implement `OlmMachine.sign`
  bindings/matrix-sdk-crypto-ffi/src/backup_recovery_key.rs
  bindings/matrix-sdk-crypto-ffi/src/lib.rs
  bindings/matrix-sdk-crypto-ffi/src/machine.rs
  bindings/matrix-sdk-crypto-js/src/responses.rs
  bindings/matrix-sdk-crypto-nodejs/src/identifiers.rs
  bindings/matrix-sdk-crypto-nodejs/src/lib.rs
  bindings/matrix-sdk-crypto-nodejs/src/machine.rs
  bindings/matrix-sdk-crypto-nodejs/src/olm.rs
  bindings/matrix-sdk-crypto-nodejs/src/responses.rs
  bindings/matrix-sdk-crypto-nodejs/src/types.rs
  bindings/matrix-sdk-crypto-nodejs/src/vodozemac.rs
  bindings/matrix-sdk-crypto-nodejs/tests/identifiers.test.js
  bindings/matrix-sdk-crypto-nodejs/tests/machine.test.js
  crates/matrix-sdk-base/src/client.rs
  crates/matrix-sdk-base/src/store/mod.rs
  crates/matrix-sdk-crypto/src/backups/keys/recovery.rs
  crates/matrix-sdk-crypto/src/identities/user.rs
  crates/matrix-sdk-crypto/src/olm/account.rs
  crates/matrix-sdk-crypto/src/olm/group_sessions/inbound.rs
  crates/matrix-sdk-crypto/src/olm/signing/mod.rs
  crates/matrix-sdk-crypto/src/store/mod.rs
  crates/matrix-sdk-crypto/src/verification/mod.rs
  crates/matrix-sdk-store-encryption/src/lib.rs
Labels: enhancement, bindings

#815 fix(bindings/cryto-nodejs): Fix memory corruption in async functions
  bindings/matrix-sdk-crypto-nodejs/src/identifiers.rs
  bindings/matrix-sdk-crypto-nodejs/src/machine.rs
Labels: bug, bindings

#818 feat(bindings/crypto-nodejs): Implement an `Attachment` API.
  bindings/matrix-sdk-crypto-nodejs/Cargo.toml
  bindings/matrix-sdk-crypto-nodejs/src/attachment.rs
  bindings/matrix-sdk-crypto-nodejs/src/lib.rs
  bindings/matrix-sdk-crypto-nodejs/tests/attachment.test.js
  bindings/matrix-sdk-crypto-nodejs/tests/machine.test.js
  crates/matrix-sdk-crypto/src/file_encryption/attachments.rs
  crates/matrix-sdk/src/encryption/mod.rs
Labels: enhancement, bindings

#832 fix(sdk): Can't assert identity without session
  crates/matrix-sdk/src/client/builder.rs
  crates/matrix-sdk/src/http_client.rs
Labels: bug

#829 feat(bindings/crypto-nodejs): Add `#[napi(strict)]` to force type checking from JavaScript
  bindings/matrix-sdk-crypto-nodejs/Cargo.toml
  bindings/matrix-sdk-crypto-nodejs/src/identifiers.rs
  bindings/matrix-sdk-crypto-nodejs/src/machine.rs
  bindings/matrix-sdk-crypto-nodejs/src/sync_events.rs
  bindings/matrix-sdk-crypto-nodejs/src/types.rs
  bindings/matrix-sdk-crypto-nodejs/src/vodozemac.rs
Labels: enhancement, bindings

#845 fix(bindings/crypto-js): Use `cross-env` to pass envvar on Windows
  bindings/matrix-sdk-crypto-js/package.json
Labels: bug, bindings
